<div class="container">
    <footer class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center ps-40 ps-md-0 py-40 py-md-50">

        <div>
            <h2 class="font-shrikhand fs-2">ALPHABOX+</h2>
            <p class="d-none d-md-block font-nst fw-bold  text-letter-spacing-1">Copyright © 2023 Hexschool.</p>
        </div>

        <div>
            <span class="material-symbols-outlined fs-80 mt-2 mt-md-0 ">emergency</span>
        </div>

        <ul class="d-flex flex-column  flex-md-row ">
            <li class="pe-md-12 mt-2 mt-md-0"><a href="about_us.html" class="d-block link-dark font-nst fw-bold ">關於我們</a></li>
            <li class="px-md-12 mt-2 mt-md-0"><a href="#" class="d-block link-dark font-nst fw-bold">產品資訊</a></li>
            <li class="px-md-12 mt-2 mt-md-0"><a href="#" class="d-block link-dark font-nst fw-bold">常見問題</a></li>
            <li class="ps-md-12 mt-2 mt-md-0"><a href="#" class="d-block link-dark font-nst fw-bold">隱私政策</a></li>
        </ul>

        <p class="d-block d-md-none font-nst fw-bold  mt-2 mt-md-0 text-letter-spacing-1 ">Copyright © 2023 Hexschool.</p>
    </footer>

</div>