<div class="container-fluid bg-radial-circle-2" >

    <div class="container px-0 pt-60 pt-md-160">
        
        <div class=" border-bottom">
            <h2 class="font-nst fw-bold fs-48 text-white pb-40">最新消息</h2>
        </div>

        <ul class="row home-news-list">


            <li class="home-news-list__item col-12  border-bottom pt-40">
                <time class="font-nst fw-bold d-flex  align-items-center text-white" >
                    <span class="material-symbols-outlined">emergency</span>
                    2023.06.30
                </time>
                <h3 class="font-nst fw-bold fs-20 text-white mt-2 mb-12">
                    產品升級公告
                </h3>
                <div class="d-flex flex-column flex-md-row justify-content-md-between  align-items-md-center  pb-40">
                    <p class="font-nst fw-bold text-white pb-12 pb-md-0" >
                        榮幸地宣布，ALPHABOX+ 已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。<br>歡迎您了解本次升級帶來的更為卓越的性能！
                    </p>
                    <a  class="ps-0 ps-md-118 " href="#"><img src="../assets/images/line_end_arrow2_notch.png" alt="右箭頭"></a>
                </div>
            </li>

            <li class="home-news-list__item col-12 col-md-6 border-bottom border-end py-40 ">
                <time class="font-nst fw-bold d-flex  align-items-center text-white">
                    <span class="material-symbols-outlined">emergency</span>
                    2023.06.30
                </time>
                <h3 class="font-nst fw-bold fs-20 text-white mt-2 mb-12" >限時優惠活動</h3>
                <div>
                    <p class="font-nst fw-bold text-white mb-12">
                        為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。訂閱 ALPHABOX+ 的顧客，皆可享受九折優惠。機會難得，請勿錯過此良機！
                    </p>
                    <a href="#" ><img src="../assets/images/line_end_arrow3_notch.png" alt="右箭頭"></a>
                </div>
            </li>

            <li class="home-news-list__item col-12 col-md-6 border-bottom py-40">
                <time class="font-nst fw-bold d-flex  align-items-center text-white">
                    <span class="material-symbols-outlined">emergency</span>
                    2023.04.18
                </time>
                <h3 class="font-nst fw-bold fs-20 text-white mt-2 mb-12">新功能上線</h3>
                <div>
                    <p class="font-nst fw-bold text-white mb-12">
                        為使您的 ALPHABOX+ 更趨完善，我們不懈地研發創新功能。近期，我們新推出智慧家居控制功能，使您的機器人能更便利地協助您操作家中各類智能設備。
                    </p>
                    <a href="#"><img src="../assets/images/line_end_arrow3_notch.png" alt="右箭頭"></a>
                </div>
            </li>

   

        </ul>
        
        <div class="col-12 text-white pt-76 pb-40">
            <div class="text-center mb-40 mb-sm-0">
                <a href="#" class="position-relative">
                   <img src="../assets/images/Linked Path Group.png" alt="查看更多">
                   <p class="font-nst fw-bold text-white position-absolute top-50 start-50 translate-middle">查看更多</p>
                </a>
            </div>
            <p class="font-nst fw-bold text-end mt-96 d-none d-sm-block">為環保盡一份心力，我們的包裝盒和紙質說明書都使用環保材料</p>
        </div>

    </div>
</div>