<div class="container-fluid  px-0 bg-home-img">
   
    <div class="container-fluid border border-1 border-white"></div>

    <div class="container-fluid px-lg-64 mt-5 "  >
        
        <div class="row mt-2 mb-32 d-md-none">
            <div class="col-12">
                <a href="" class="font-nst fw-bold link-light">ALPHABOX+ STUDIO</a>
            </div>
        </div>

        <div class="row  mx-0  mb-32 mb-md-56 ">

            <div class=" col-md-3 px-3  d-flex">
                <a href="" class="mt-auto font-nst fw-bold text-white d-none d-md-block border-bottom">最新消息！新版本 v15.4 釋出，搶先體驗！</a>
            </div>

            <div class="col-12 col-md-6 px-3 d-flex justify-content-center align-items-center" >
                <img src="../assets/images/circle.png" alt="英文圓形圖" style="width: 196px;height: 196px;">
            </div>

            <div class="col-md-3  px-3  d-flex flex-column ">
                <a href="" class=" d-none d-md-block font-nst fw-bold link-light border-top">ALPHABOX+ STUDIO</a>
                <p class="mt-auto  d-none d-md-block font-nst fw-medium text-white">Copyright © 2023 Hexschool.</p>
            </div>

            <!--行動裝置時候 顯示 ，桌機版隱藏-->
            <div class="row mt-32 mx-0 px-0 d-md-none ">

                <div class="col-12 px-0">
                    <h1 class="fs-2 font-shrikhand text-white d-flex justify-content-between">
                        <span>A</span>
                        <span>L</span>
                        <span>P</span>
                        <span>H</span>
                        <span>A</span>
                        <span>B</span>
                        <span>O</span>
                        <span>X</span>
                        <span>+</span>
                        <!-- ALPHABOX+ -->
                    </h1>
                    <p class="text-letter-spacing-10 text-center font-nst fw-bold text-white">擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
                </div>

            </div>
            

        </div>
       
        <!--4圖區-->
        <div class="h-676 row gy-3 mx-0 alitem  mt-md-0" > 
            <div class=" col-12 col-sm-6 col-md-3  px-0 px-sm-3 position-relative ">
                <h2 class="role-pic-diane font-shrikhand fs-2 text-white">Diane</h2>
                <img class="role-pic-style img-size w-100" alt="Dinae_角色圖" src="../assets/images/diane.png">
            </div>
            
            <!-- 桌機版時候 顯示，行動版 隱藏 -->
            <div class="col-6 px-0 overflow-hidden h-100 d-none d-md-block" >

                <div class="row mx-0">

                    <div class="col-12 px-3">
                        <h1 class="fs-2 font-shrikhand d-flex justify-content-between  text-white">
                            <span>A</span>
                            <span>L</span>
                            <span>P</span>
                            <span>H</span>
                            <span>A</span>
                            <span>B</span>
                            <span>O</span>
                            <span>X</span>
                            <span>+</span>
                            <!-- ALPHABOX+ -->
                        </h1>
                        <p class="text-letter-spacing-10 text-center font-nst fw-bold text-white" >擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
                    </div>

                </div>

                <div class="row mx-0 pt-0 pt-md-4 ">

                    <div class="col-6 px-3 position-relative">
                        <h2 class="role-pic-felix font-shrikhand fs-2 text-white">Felix</h2>
                        <img class="role-pic-style img-size w-100"  src="../assets/images/felix.png" alt="Felix_角色圖"> 
                    </div>
    
                    <div class="col-6 px-3 position-relative">
                        <h2 class="role-pic-karina font-shrikhand fs-2 text-white">Karina</h2>
                        <img class="role-pic-style img-size w-100" src="../assets/images/karina.png" alt="Karina_角色圖">
                    </div>

                </div>

            </div>

            <!--行動裝置時候 顯示 ， 桌機版 隱藏-->
            <div class="col-12 col-sm-6 col-md-3 px-0 px-sm-3 d-md-none position-relative">
                <h2 class="role-pic-felix font-shrikhand fs-2 text-white">Felix</h2>
                <img class="role-pic-style img-size w-100"  src="../assets/images/felix.png" alt="Felix_角色圖"> 
            </div>

            <!--行動裝置時候 顯示 ， 桌機版 隱藏-->
            <div class="col-12 col-sm-6 col-md-3 px-0 px-sm-3 d-md-none position-relative">
                <h2 class="role-pic-karina font-shrikhand fs-2 text-white">Karina</h2>
                <img class="role-pic-style img-size w-100" src="../assets/images/karina.png" alt="Karina_角色圖">
            </div>
            
           
            <div class="col-12 col-sm-6 col-md-3  px-0 px-sm-3 position-relative">
                <h2 class="role-pic-vito font-shrikhand fs-2 text-white">Vito</h2>
                <img class="role-pic-style img-size w-100" src="../assets/images/vito.png" alt="Vito_角色圖">
            </div>

        </div>
    
    </div>

</div>