<div class="container-fluid px-0 backdrop-style">
   
    <div class=" about-bg px-12 px-sm-28 px-lg-80 pt-178 pt-sm-153 pb-52 d-flex flex-column">

        <div class="z-index-1 py-20  bg-gradient-s" ></div>

        <h2 class="z-index-1 font-nst fw-bold fs-4 fs-md-48 text-white text-letter-spacing-10">
            什麼是<br>
            ALPHABOX+
        </h2>

        <div id="carouselExampleControls" class="carousel slide mt-3 mt-lg-32 d-md-flex justify-content-md-between align-items-md-center"  data-bs-ride="carousel">

            <div class="me-52 d-none d-lg-block z-index-1" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span ><img src="../assets/images/line_start_arrow_notch.png" alt="左箭頭"></span>
            </div>

            <div class="carousel-inner container px-0 ">
                
              <div class="carousel-item active position-relative">
                <div class="about-position ps-3 pe-md-40 position-absolute top-50  end-0 translate-middle-y">
                    <h2 class="font-shrikhand  fs-96 text-white text-md-end">01</h2>
                    <p class="font-nst  fs-2 fw-bold text-white d-flex justify-content-md-end">立體投影技術</p>
                    <p class="font-nst fw-bold text-white mt-3">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                </div>
                <img src="../assets/images/carousel.png" class="d-block w-100 about-img-size" alt="...">
              </div>

              <div class="carousel-item">
                <div class="about-position ps-3 pe-md-40 position-absolute top-50  end-0 translate-middle-y">
                    <h2 class="font-shrikhand  fs-96 text-white text-md-end">02</h2>
                    <p class="font-nst  fs-2 fw-bold text-white d-flex justify-content-md-end">立體投影技術</p>
                    <p class="font-nst fw-bold text-white mt-3">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                </div>
                <img src="../assets/images/carousel.png" class="d-block w-100 about-img-size" alt="...">
              </div>

            </div>
    
            <div  class="ms-52  d-none d-lg-block z-index-1" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span ><img src="../assets/images/line_end_arrow_notch.png" alt="右箭頭"></span>
            </div>
  
        </div>

        <div class="z-index-1 py-20 bg-gradient-e mt-32"></div>

 
    </div>

   
</div>
