.nav-position{
  
  @include Large {
    position: relative;
    width: 100%;
  }
  &__item{
    width: 100%;
    z-index: 1;
    @include Large {
      background: linear-gradient(to bottom, #7000FF 0%,  #11002D 100%);
      position:absolute;
      top: 100%;
     
      // left: 50%;
      // transform: translateX(-50%);
    }
    
  }
}
.navbar-toggler:focus{

    box-shadow:none !important;

}


//之後設定成bootstrap主色系相關，之後請砍掉和class 用以設定的bootstrap
.bg-main{
  background:#7000FF;
}



