.about-us-bg{
    background-image: url('../../assets/images/about_us.png');
    height: 280px;
    
    background-position: center;
    background-size:cover;
    @include Medium{
        background-image: url('../../assets/images/mobile/about_us_mobile.png');
    }
}
.about-us-title{
    @include Large{
        font-size: 50px !important;
    }
    @include Small{
        font-size: 24px !important;
    }
}
.about_us-btn{
    width: 196px;
    @include Medium{
        width: 100%;
    }
}