.about-us-bg{
    background-image: url('../../assets/images/about_us.png');
    height: 280px;
    background-position: center;
    background-size:100% 100%;
    @include Medium{
        background-image: url('../../assets/images/mobile/about_us_mobile.png');
    }
}