.bg-img{
    background-image: url('../../assets/images/home_background.png');
    height: 960px;
    @include Medium{
      height: 1450px;
    }
    @include Small {
      height: 1846px;
    }
}
  // .bg-base{
  //   background: linear-gradient(to bottom, #7000FF 0%,  #11002D 100%);
  
  // }
.img-size{
    height: 676px;
    object-fit: cover;
    object-position:top;
    @include Medium{
        height: 510px;
    }
    @include Small {
        height: 351px;  
    }
}
  
//區塊2
.about-bg{
    width: 100%;

    background:url('../../assets/images/carousel.png'), linear-gradient(to right, #300871 0%,  #000000  100%) ;
    // background: url('../../assets/images/carousel.png'),
    // linear-gradient(to right, #300871 0%,  #000000  100%),
    // ;

    background-repeat: no-repeat,no-repeat;
    background-size: 50% 1089px,100%,1089px;

    @include Medium{
        background-size: 100% 1080px,0%,1080px;
    }
}
.about-img-size{
    @include Medium{
        height: 510px;
    }
    @include Medium{
        height: 351px;
    }
}
.about-position{
    @include Medium{
        left:0 !important;
    }
}

.bg-gradient-s{
    background: linear-gradient(to right, #7000FF 0%,  #11002D 100%) !important;
}

.bg-gradient-e{
    background: linear-gradient(to left, #7000FF 0%,  #11002D 100%) !important;
}

//區塊3
.news-bg{
    background:radial-gradient(circle at center,#28085C,#000000);
}

.home-news-list{
    &__item:nth-child(2){
        @include Medium{
        border-right: none !important;
        }
    
    }
}