//home-main
.h-676{
    height: 676px;
}
.bg-home-img{
    background-image: url('../../assets/images/home_background.png');
    height: 880px;
    @include Medium{
      height: 1380px;
    }
    @include Small {
      height: 1770px;
    }
}

.img-size{
    height: 676px;
    object-fit: cover;
    object-position:top;
    @include Medium{
        height: 510px;
    }
    @include Small {
        height: 351px;  
    }
}

.role-pic-diane,
.role-pic-felix,
.role-pic-karina,
.role-pic-vito{
    position: absolute;
    top:16px;
    left: 50%;
    transform: translateX(-50%);
}
.role-pic-style:hover{
    box-shadow: 0px 0px 16px 8px rgba(143, 0, 255, 0.8);
}

//home-about
.about-bg{
    // width: 100%;

    background:url('../../assets/images/carousel.png'), linear-gradient(to right, #300871 0%,  #000000  100%) ;
    // background: url('../../assets/images/carousel.png'),
    // linear-gradient(to right, #300871 0%,  #000000  100%),
    // ;

    background-repeat: no-repeat,no-repeat;
    background-size: 50% 1089px,100%,1089px;

    @include Medium{
        background-size: 100% 1080px,0%,1080px;
    }
}
.about-img-size{
    @include Medium{
        height: 510px;
    }
    @include Medium{
        height: 351px;
    }
}
.about-position{
    @include Medium{
        left:0 !important;
    }
}


//home-news
.home-news-list{
    &__item:nth-child(2){
        @include Medium{
        border-right: none !important;
        }
    
    }
}



//home-role-main

//助教的遮罩功能
.aiintro-card-content{
    height: 100%;
    background-color: #000;
    transition: 0.5s;
    &:hover {
      background-color: #00000080;
    }
    //行動版無須 hover 直接更改背景顏色 跟hover 相同
    @include Medium{
        background-color: #00000080;
    }
}
  
.home-role-card{
   &__item{
    border-right: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
   }
   
    //角色卡1
    &__item:first-child{
        background-size:cover;
        background-position: center;
        @include Medium{
            background-image: (url('../../assets/images/diane_vertical.png'));
        }
       
    }
    &__item:first-child:hover{
        background-image: (url('../../assets/images/diane_vertical.png'));
    }

    //角色卡2
    &__item:nth-child(2){
        background-size:cover;
        background-position: center;
        @include Medium{
            background-image: (url('../../assets/images/felix_vertical.png'));
        }
        
    }
    &__item:nth-child(2):hover{
        background-image: (url('../../assets/images/felix_vertical.png'));
     
    }

    //角色卡3
    &__item:nth-child(3){
        background-size:cover;
        background-position: center;
        @include Medium{
            background-image: (url('../../assets/images/karina_verticalgle.png'));
        }
        
    }
    &__item:nth-child(3):hover{
        background-image: (url('../../assets/images/karina_verticalgle.png'));
    }

    //角色卡4
    &__item:last-child{
        border-right:none;
        background-size:cover;
        background-position: center;
        @include Medium{
            background-position: center;
            background-image: (url('../../assets/images/vito_square2.png'));

        }
    }
    &__item:last-child:hover{
        background-image: (url('../../assets/images/vito_vertical.png'));
        @include Medium{
            background-image: (url('../../assets/images/vito_square2.png'));

        }
        
    }
}


.backdrop-style{
    position: relative;
    z-index: -2;

}

.backdrop-style:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 0;
}



