<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <style>


    </style>
  </head>
  <body>
    <!-- 導覽列 -->
    <%- include('./layout/header'); -%>

    <!-- 區塊1 home-main 4張大圖 -->
    <%- include('./layout/home-main'); -%>

    <!-- 區塊2-關於我們(輪播) -->
    <%- include('./layout/home-about'); -%>

    <!-- 區塊3-公告欄 -->
    <%- include('./layout/home-news'); -%>
    
    <!-- 區塊4-顧客反應(輪播) -->
    <%- include('./layout/home-report'); -%>

    
    <!-- 區塊5-聯絡我們 -->
    <%- include('./layout/home-contact'); -%>
    
    <!-- 區塊6 角色卡 -->
    <%- include('./layout/home-role-card'); -%>

    <!--區塊 7-footer -->
    <%- include('./layout/footer'); -%>


    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper('.swiper', {
            // slide 間距
            spaceBetween: 24,
            slidesPerView: 3,
            // Scrollbar
            scrollbar: {
                el: ".swiper-scrollbar",
                draggable: true
            },
            // 使 swiper 可以使用滑鼠滾輪捲動
            mousewheel: true,
        });
    </script>
  </body>
</html>
